body {
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

a {
  color: #11999E;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 2;
  margin-top: 50px;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', san-sans-serif;
}

p {
  font-weight: normal;
  line-height: 2;
}

.programmer {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.artist {
  float:right;
  margin-left: 30px;
  width: 25%;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.top-container {
  background: linear-gradient(#cca8e9, #c3bef0, #cadefc, #defcf9);
  padding-top: 100px;
  position: relative;
}

.middle-container {

}

.bottom-container {

}

.top-cloud {
  height: 130px;
  position: absolute;
  right: 300px;
  top: 5px;
  width: 180px;
}

.bottom-cloud {
  bottom: 500px;
  height: 150px;
  left: 20px;
  position: absolute;
  width: 280px;
}

.mainPicture {
  height: 700px;
  width: 800px;
}
